.PreNav{
    background-color: rgb(29, 28, 28);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
}

.PreNav > div{
      padding: 0 4vmax;
      display: flex;
      align-items: center;
}

.PreNav > div > span{
    color: rgba(180, 180, 180, 0.644);
    font-size: 0.8vmax;
    font-weight: 100;
}

.PreNav > div svg{
    fill: white;
    width: 1rem;
    height: auto;
}

.PreNav > div >a {
    color: rgba(180, 180, 180);
    font-size: 0.9vmax;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1vmax;
    text-decoration: none;
}
.PreNav > div > a:hover{
         color: white;
}